
body{
    background-color: #D6d6d6 ;
}

.jumbotron{
    background-color:#319418 ;
}

.btn{
    background-color:#319418 ;
}
/* NAVIGATION CSS*/

  

  nav a,
  nav a:after,
  nav a:before {
    transition: all .5s;
    color: #fff;
    display: block;
    padding: 15px;
  }
  nav a:hover {
    color: #D61800;
  }
  
  
  /* stroke */
  nav.stroke a,
  nav.fill a {
    position: relative;
  }
  nav.stroke a:after,
  nav.fill a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #D61800;
    height: 1px;
  }
  nav.stroke a:hover:after {
    width: 100%;
  }
  
  nav.fill a {
    transition: all 2s;
  }
  
  nav.fill a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill a:hover {
    color: #D61800;
    z-index: 1;
  }
  nav.fill a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  /* NAVIGATION CSS*/

  /*Footer*/
  footer{
    background-color: #319418;
    color: #fff;
    height: 50px;
  }